body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #f05;
color: white;


    
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #f05;
color: blue;
display: inline-block;
}
img{
    border: 2px solid #f05;
    /* border-radius: 50%; */
    float: left;
    margin-right: 20px;
    padding: 3px;


}